<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{'wallet' | translate}}</ion-title>
    </ion-toolbar>
    <div class="banner">
        <h2>{{'available_balance' | translate}}</h2>
        <h1>{{currency_icon}} {{balance}}</h1>
    </div>
</ion-header>

<ion-content class="bg_color" fullscreen>
    <ion-button size="large" shape="full" class="btn" (click)="navBankTransfer()">
        {{'send_to_bank' | translate}}
    </ion-button>

    <div class="empty-view" *ngIf="!isLoading && (!transactions || !transactions.length)">
        <div style="text-align:center">
            <img src="assets/images/empty_wallet.png" alt="no offers" />
            <span style="color:#9E9E9E; font-weight:bold;">
                {{'empty_transactions' | translate}}
            </span>
        </div>
    </div>
    <ion-list lines="none">
        <h2 *ngIf="transactions && transactions.length">{{'recent' | translate}}</h2>
        <ion-item *ngFor="let transaction of transactions">
            <div class="item_inner">
                <ion-row *ngIf="transaction.meta && transaction.meta.source_payment_type">
                    <ion-col size="6">
                        <h3>
                            <strong *ngIf="transaction.type == 'payout'">{{'sent_to_bank' | translate}}</strong>
                            <strong *ngIf="transaction.type != 'payout'">{{transaction.meta.description}}</strong>
                        </h3>
                        <p>{{transaction.created_at}}</p>
                    </ion-col>
                    <ion-col size="3" class="ion-text-end">
                        <h3>{{currency_icon}}{{transaction.meta.source_amount}}</h3>
                        <p>{{transaction.meta.source_payment_type}}</p>
                    </ion-col>
                    <ion-col size="3" class="ion-text-end">
                        <h3>{{currency_icon}}{{transaction.amount}}</h3>
                        <p *ngIf="transaction.type == 'payout' || transaction.type == 'withdraw'">
                            {{'payout' | translate}}
                        </p>
                        <p *ngIf="!(transaction.type == 'payout' || transaction.type == 'withdraw')">
                            {{'earning' | translate}}
                        </p>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="!(transaction.meta && transaction.meta.source_payment_type)">
                    <ion-col size="6">
                        <h3>
                            <strong *ngIf="transaction.type == 'payout'">{{'sent_to_bank' | translate}}</strong>
                            <strong *ngIf="transaction.type != 'payout'">{{transaction.meta.description}}</strong>
                        </h3>
                        <p>{{transaction.created_at}}</p>
                    </ion-col>

                    <ion-col size="6" class="ion-text-end">
                        <h3>{{currency_icon}}{{transaction.amount}}</h3>
                        <p *ngIf="transaction.type == 'payout' || transaction.type == 'withdraw'">
                            {{'payout' | translate}}
                        </p>
                        <p *ngIf="!(transaction.type == 'payout' || transaction.type == 'withdraw')">
                            {{'earning' | translate}}
                        </p>
                    </ion-col>
                </ion-row>
            </div>
        </ion-item>

    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfiniteTransactions($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{'loading' | translate}}">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>