<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <!-- <ion-title>{{'edit_profile' | translate}}</ion-title> -->
        <ion-title>
            {{'edit_profile' | translate}}
            <!--
			<div class="d-flex">
				<span> {{'edit_profile' | translate}} </span>
				<ion-icon *ngIf="fresh_profile" class="zmdi zmdi-sign-in end" (click)="exitApp()"></ion-icon>
			</div>
-->
        </ion-title>

    </ion-toolbar>
</ion-header>

<ion-content class="bg_color">
    <div class="banner">
        <div class="profile_details d-flex">
            <div class="img_box center_img">
                <img *ngIf="profile.user && profile.user.image_url" [src]="profile.user.image_url" class="crop_img">
                <img *ngIf="!profile.user || !profile.user.image_url" src="assets/images/empty_dp.png" class="crop_img">
            </div>
            <div class="text_box">
                <h3 (click)="pickImageUser()">
                    <ion-icon class="zmdi zmdi-camera"></ion-icon>
                    {{'change_profile_image' | translate}}
                </h3>
            </div>
        </div>

        <div class="form">
            <ion-list lines="none">
                <ion-item lines="none">
                    <div class="item_inner d-flex">
                        <!--                        <ion-label mode="md" position="stacked">{{'full_name' | translate}}</ion-label>-->
                        <ion-icon class="zmdi zmdi-account ion-text-start"></ion-icon>
                        <ion-input placeholder="{{'full_name' | translate}}" mode="md" type="text"
                            [(ngModel)]="profile.user.name"></ion-input>
                    </div>
                </ion-item>

                <ion-item lines="none">
                    <div class="item_inner d-flex">
                        <!--                        <ion-label mode="md" position="stacked">{{'gender' | translate}}</ion-label>-->
                        <ion-icon class="zmdi zmdi-male ion-text-start"> </ion-icon>
                        <ion-select placeholder="{{'gender' | translate}}" interface="popover"
                            [(ngModel)]="profile.meta.gender">
                            <ion-select-option value="male">{{'male' | translate}}</ion-select-option>
                            <ion-select-option value="female">{{'female' | translate}}</ion-select-option>
                            <ion-select-option value="other">{{'other' | translate}}</ion-select-option>
                        </ion-select>
                    </div>
                </ion-item>

                <ion-item lines="none">
                    <div class="item_inner d-flex">
                        <!--                        <ion-label mode="md" position="stacked">{{'phone_number' | translate}}</ion-label>-->
                        <ion-icon class="zmdi zmdi-smartphone-iphone ion-text-start"> </ion-icon>
                        <ion-input placeholder="{{'phone_number' | translate}}" mode="md" disabled="true" readonly
                            [(ngModel)]="profile.user.mobile_number"></ion-input>
                    </div>
                </ion-item>

                <ion-item lines="none">
                    <div class="item_inner d-flex">
                        <!--                        <ion-label mode="md" position="stacked">{{'email_address' | translate}}</ion-label>-->
                        <ion-icon class="zmdi zmdi-email ion-text-start"> </ion-icon>
                        <ion-input placeholder="{{'email_address' | translate}}" mode="md" disabled="true" readonly
                            [(ngModel)]="profile.user.email"></ion-input>
                    </div>
                </ion-item>
            </ion-list>
        </div>
    </div>

    <div class="form documentation">
        <h2>{{'documentation' | translate}}</h2>
        <ion-list lines="none">
            <ion-item [ngClass]="(profile.meta.document_verified) ? 'active' : ''">
                <div class="item_inner d-flex">
                    <ion-icon
                        [ngClass]="(profile.meta.document_verified) ? 'zmdi zmdi-shield-check ion-text-start' : 'zmdi zmdi-assignment-alert ion-text-start'">
                    </ion-icon>
                    <div class="text_box">
                        <h3>{{'goverment_id' | translate}}</h3>
                        <h4 class="d-flex" (click)="pickImageProfile()">
                            <span
                                class="id_details">{{ (profile.meta.document_url && profile.meta.document_url.length?'uploaded':'not_uploaded_yet') | translate}}</span>
                            <span
                                class="end ion-text-end">{{ (profile.meta.document_url && profile.meta.document_url.length?'reupload':'upload') | translate}}</span>
                        </h4>
                    </div>
                </div>
            </ion-item>

            <!-- <ion-item>
                <div class="item_inner d-flex">
                    <ion-icon class="zmdi zmdi-assignment-alert ion-text-start"></ion-icon>
                    <div class="text_box">
                        <h3>{{'goverment_id' | translate}}</h3>
                        <h4 class="d-flex">
                            <span class="id_details">{{'not_uploaded_yet' | translate}}</span>
                            <span class="end ion-text-end">{{'upload' | translate}}</span>
                        </h4>
                    </div>
                </div>
            </ion-item> -->
        </ion-list>
    </div>
</ion-content>

<ion-footer class="ion-no-border">
    <ion-button size="large" shape="full" class="btn" (click)="update()">
        {{'update_info' | translate}}
    </ion-button>
</ion-footer>