<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <div class="title_inner d-flex">
                <span> {{'insight' | translate}}</span>
                <ion-select class="end" interface="popover" [(ngModel)]="duration" (ionChange)="loadInsight()">
                    <ion-select-option value="today">{{'today' | translate}}</ion-select-option>
                    <ion-select-option value="week">{{'this_week' | translate}}</ion-select-option>
                    <ion-select-option value="month">{{'this_month' | translate}} </ion-select-option>
                    <ion-select-option value="year">{{'this_year' | translate}}</ion-select-option>
                </ion-select>
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_color">
    <div class="all_delivery">
        <ion-row class="ion-text-center">
            <ion-col size="4">
                <h2>{{insightsOrder.orders_count}}</h2>
                <h3>{{'orders' | translate}}</h3>
            </ion-col>
            <ion-col size="4">
                <h2>{{insightsOrder.distance_travelled}} {{distance_metric | translate}}</h2>
                <h3>{{'ride' | translate}}</h3>
            </ion-col>
            <ion-col size="4">
                <h2>{{currency_icon}}{{insightsOrder.earnings}}</h2>
                <h3>{{'earnings' | translate}}</h3>
            </ion-col>
        </ion-row>
    </div>
    <ion-card>
        <div class="card_containt">
            <h1>{{'earnings' | translate}}</h1>
            <div class="graph_container d-flex">
                <div class="text_container">
                    <p *ngFor="let pr of priceRangeEarning" class="ion-text-end"><span>{{pr}}</span></p>
                </div>
                <div class="graph end">
                    <div *ngFor="let cd of chartDataParsedEarning" class="bar_box">
                        <h4>{{cd.date}}</h4>
                        <div class="bar" [style.height]="cd.percent+'%'">
                            <h5>{{cd.price}}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="ion-text-center" (click)="navTransactions()">
                {{'view_all_transactions' | translate}}
            </h3>
        </div>
    </ion-card>

    <ion-card>
        <div class="card_containt">
            <h1>{{'orders' | translate}}</h1>
            <div class="graph_container d-flex">
                <div class="text_container">
                    <p *ngFor="let pr of priceRangeOrder" class="ion-text-end"><span>{{pr}}</span></p>
                </div>
                <div class="graph end">
                    <div *ngFor="let cd of chartDataParsedOrder" class="bar_box">
                        <h4>{{cd.date}}</h4>
                        <div class="bar" [style.height]="cd.percent+'%'">
                            <h5>{{cd.price}}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <h3 class="ion-text-center">{{'view_all_orders' | translate}}</h3> -->
        </div>
    </ion-card>
</ion-content>