ion-header {
    padding-top: 21px;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 5%, rgba(252, 196, 27, 0) 100%);
    }

    ion-toolbar {
        .toolbar_inner {
            align-items: flex-start;

            ion-title {
                position: relative !important;
                top: 0;

                .title_inner {
                    width: 100%;
                    text-align: initial;
                    align-items: flex-start;

                    .profile_img {
                        min-width: 61px;
                        height: 61px;
                        border-radius: 10px;
                        margin-right: 16px;
                    }

                    .text_box {
                        width: 100%;
                        padding-top: 4px;

                        h2 {
                            margin: 0;
                            color: var(--text-black);
                            font-size: 1.1rem;
                            padding-bottom: 7px;
                            font-weight: 600;

                            span {
                                color: var(--primary);
                                font-weight: 500;
                            }
                        }

                        h3 {
                            margin: 0;
                            color: var(--text-light);
                            font-size: 0.95rem;
                        }
                    }
                }

                .online_button {
                    border-radius: 50px;
                    height: 31px;
                    text-transform: uppercase;
                    font-size: 0.8rem;
                    font-weight: 500;
                    line-height: 31px;
                    padding: 0 10px;
                    min-width: 108px;
                    text-align: center;

                    &.online {
                        background: var(--secondary);
                    }

                    &.offline {
                        background: var(--red_color);
                    }
                }
            }
        }
    }
}

.map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.delivery_location {
    position: absolute;
    width: 22px;
}

ion-footer {
    min-height: 166px;
    position: absolute;
    bottom: 0;

    .GoOnline {
        margin: 0 auto;
        margin: 0 auto;
        width: fit-content;
        display: flex;
        align-items: center;
        position: relative;
        border-radius: 50%;
        min-width: 95px;
        height: 95px;
        top: -8px;

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 100%;
            height: 100%;
            background: var(--primary);
            opacity: 0.5;
            border-radius: 50%;
        }

        &::after {
            width: calc(100% - 15px);
            height: calc(100% - 15px);
            opacity: 1;
        }

        h2 {
            position: relative;
            z-index: 99;
            display: block;
            margin: auto;
            width: fit-content;
            color: var(--white);
            font-size: 1.1rem;
            font-weight: 400;
            letter-spacing: 0.5px;
        }
    }

    .online_offile_option {
        background: var(--white);
        border-radius: 10px 10px 0 0;
        width: calc(100% - 30px);
        margin: 0 auto;
        padding: 6px 0;
        height: 116px;
        position: relative;
        bottom: -50px;
        left: 0;
        right: 0;
        overflow: hidden;
        transition: all 0.2s;

        ion-icon {
            position: absolute;
            right: 21px;
            top: 19px;
            font-size: 1.7rem;
            text-align: center;
            transition: all 0.2s;
        }

        .text_box {
            width: 100%;
            height: 110px;
            position: relative;
            overflow: hidden;
        }

        h2 {
            margin: 0 auto;
            width: 100%;
            color: var(--text-black);
            padding: 13px 22px;
            position: relative;

            small {
                display: block;
                font-size: 1.2rem;
            }

            span {
                display: block;
                position: relative;
                min-width: 80px;
                height: 10px;

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                }
            }

            &.offline {
                //                top: 6px;

                span {
                    &::after {
                        background: var(--red_color);
                    }
                }
            }

            &.online {
                //                bottom: 6px;

                span {
                    &::after {
                        background: var(--green_color);
                    }
                }
            }
        }
    }

    .button.btn {
        position: relative;
        width: 100%;
        transition: all 0.5s;
    }

    &.active {
        .all_delivery {
            bottom: -100%;
        }

        .button.btn {
            bottom: 0%;
        }

        .online_offile_option {
            bottom: 0;

            ion-icon {
                transform: rotate(180deg);
            }
        }
    }
}
